<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="todos.css"/>
</head>

<body>

  <div id="todoapp">

    <header>
      <h1>Todos</h1>

      <div id="todo-focus">
        <input id="new-todo" type="text" placeholder="What needs to be done?" />

        <a href="javascript:;" id="new-add-tag">add tag</a>
        <div id="tag-box">
          <div id="tag-list"></div>
          <input type="text" id="new-tag" placeholder="you can only use one tag for the list" />
        </div>  
      </div>
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>


  <script src="vendor/json2.js"></script>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/backbone.js"></script>
  <script src="vendor/backbone.localStorage.js"></script>
  <script src="todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view color-<%= color %>">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>

      <a class="ui-icon btn-icon btn-destroy">delete</a>
      
      <a class="btn-icon color btn-change-color">color</a>
      <div class="color-box">
        <a href="javascript:;" class="color-span color-blue" data-color="blue"></a>
        <a href="javascript:;" class="color-span color-white" data-color="white"></a>
        <a href="javascript:;" class="color-span color-black" data-color="black"></a>
        <a href="javascript:;" class="color-span color-red" data-color="red"></a>
        <a href="javascript:;" class="color-span color-green" data-color="green"></a>
        <a href="javascript:;" class="color-span color-silver" data-color="silver"></a>
      </div>
      <a href="#/id/<%= id %>" class="ui-icon btn-icon btn-detail">detail</a>
      <a class="ui-icon btn-icon btn-note">note</a>
      <span class="tag"><%- tag %></span>
      
      <div class="note-box" style="display:<%= note == '' ? 'none' : 'block' %>;" >
        <div class="note-txt"><%- note %></div>
        <textarea class="note-edit" style="display: none;"></textarea>
      </div>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/javascript" id="tag-template">
    <% if(!!tags && tags.length) { _.each(tags, function(item){ %>
    <a href="javascript:;"><span class="txt"><%= item %></span><span class="delete">X</span></a>
    <% }) }%>
  </script>
      
  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
